@rendermode InteractiveServer
@page "/quiz/{QuizId}/{QuestionId}"
@using Models.Questions
@using Models.Quiz
@inject QuizManager manager;

<h1>här ska frågorna presenteras</h1>

@if (QuestionId == null)
{
    <p>No Question Initiated</p>
}
else
{
    <p>@Question.Text</p>
}


<button @onclick="Submit">Submit</button>

@code
{
    [Parameter]
    public string? QuestionId { get; set; }

    [Parameter]
    public string? QuizId { get; set; }
    Question? Question;
    Quiz? Quiz;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(QuizId))
        {
            manager.initialize("2");
            Quiz = manager.GetQuizByID(QuizId);
            Question = Quiz.Questions[Quiz.CurrentQuestion];
        }
    }

    public void Submit()
    {
        Console.WriteLine("Submit answer");
        manager.NextQuestion(QuizId);
        Question = Quiz.Questions[Quiz.CurrentQuestion];
        StateHasChanged();
    }
}