@rendermode InteractiveServer
@page "/quiz/{QuizId}/{QuestionId}"
@using Models.Questions
@using Models.Quiz
@inject QuizManager manager;

<h1>här ska frågorna presenteras</h1>

@if (QuestionId == null)
{
    <p>No Question Initiated</p>
}
else
{
    <p></p>
}


<button @onsubmit="Submit">Submit</button>

@code
{
    [Parameter]
    public string? QuestionId { get; set; }
    public string? QuizId { get; set; }
    Question? Question;
    Quiz? Quiz;

    protected override void OnParametersSet()
    {
        QuestionId = Question.ID;
        Quiz = manager.GetQuizByID(QuizId);
    }

    public void Submit()
    {
        Console.WriteLine("Submit answer");

        manager.NextQuestion();
    }
}