@rendermode InteractiveServer
@page "/quiz/{QuizId}"
@using Models.Participant
@using Models.Questions
@using Models.Quiz
@inject QuizManager manager;
@inject NavigationManager navigationManager;

<h1>här ska frågorna presenteras</h1>

<ul>
    @foreach (var choice in Question.QuizChoices)
    {
        <button @onclick="Submit">@choice</button>
    }
</ul>

@code
{
    [Parameter]
    public string? QuizId { get; set; }
    Question? Question;
    Quiz? Quiz;
    public Participant participant = new();

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(QuizId))
        {
            manager.initialize(QuizId);
            Quiz = manager.GetQuizByID(QuizId);
            Question = Quiz.Questions[Quiz.CurrentQuestion];
        }
    }

    public void Submit()
    {
        participant.ParticipantID = Guid.NewGuid().ToString();
        Question = Quiz.Questions[Quiz.CurrentQuestion];
        manager.SubmitAnswer(participant, QuizId, participant.AnswerIndex);
        navigationManager.NavigateTo($"/present/{QuizId}");
        StateHasChanged();
    }
}