@rendermode InteractiveServer
@page "/present/{QuizId}"
@using Models.Participant
@using Models.Questions
@using Models.Quiz
@inject QuizManager manager;
@inject NavigationManager navigationManager;


<h1>Answers</h1>

@code
{
    [Parameter]
    public string? QuizId { get; set; }
    Question? Question;
    Quiz? Quiz;


}