@rendermode InteractiveServer
@page "/quiz/{QuizId}/present"
@using Models.Quiz
@inject QuizManager manager;

@if (quiz == null)
{
    <h1>Quiz not found</h1>
}
else
{
    <h1>@quiz.Title</h1>
}


@code
{
    [Parameter]
    public string? QuizId { get; set; }
    Quiz quiz;

    void OnParameterSet()
    {
        if (QuizId == null)
        {
            quiz = manager.GetQuizByID(QuizId);
        }
    }
}